{% extends 'base-edit-classe.html.twig' %}

{% block title %}Classes{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="..css/style.css">
   <link rel="stylesheet" href="..css/dashboard.css">
   <link rel="stylesheet" href="..css/table.css">
<style>
    table {
        border: solid #424242 0px !important;
        width: 100%;
    }
    
    tr {
        background-color: #2dabe10c;
    }
    
    tr:hover {
        background-color: #2dabe136;
    }
    
    tr:active {
        background-color: #2dabe150;
    }

    .table_title {
        background-color: #b8e6fa;
        position: sticky;
        top: 63px;
    }
        .back_tolist {
        text-decoration: none;
        color: var(--W-color);
        padding: 10px;
        background-color: var(--blue-ndlp);
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    }
</style>
{% endblock %}
{% block body %}
    <h1>Classes</h1>
<<<<<<< HEAD
    <table class="table">
=======

    <table style="border: solid #424242 0px !important; width: 100%;">
>>>>>>> 18243a4df4af4217eb363c9fa0743bce94aa8d7c
        <tbody>
            <tr class="table_title" id="table_title">
            </tr>
            <tr>
                
            </tr>
        </tbody>
    </table>
<<<<<<< HEAD
        <table class="table">
            <thead>
                <tr class="table_title" id="table_title">
                    <th class="table_id">Id</th>
                    <th>Classe_libelle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ class.id }}</th>
                    <th>{{ class.classeLibelle }}</th>
                </tr>
            </tbody>
        </table>
    <a href="{{ path('classes_index') }}" >back to list</a>
    <a href="{{ path('classes_edit', {'id': class.id}) }}" >edit</a>
=======

    <a href="{{ path('classes_index') }}" class="btn5" >back to list</a>

    <a href="{{ path('classes_edit', {'id': class.id}) }}" class="btn5" >edit</a>

>>>>>>> 18243a4df4af4217eb363c9fa0743bce94aa8d7c
    {{ include('classes/_delete_form.html.twig') }}
{% endblock %}
